.footer__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.2s;
}

.footer__link:not(:last-of-type) {
    margin-right: 18px;
}

.footer__link:hover {
    opacity: 80%;
}

@media screen and (max-width: 750px) {
    .footer__link {
        font-size: 24px;
    }

    .footer__link:not(:last-of-type) {
        margin-bottom: 11px;
    }
}